<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="turnkey-local" value=".artifacts/turnkey-feed" />
    <add key="peak-local" value=".artifacts/peak-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="turnkey-local">
      <package pattern="KyuzanInc.Turnkey.*" />
    </packageSource>
    <packageSource key="peak-local">
      <package pattern="KyuzanInc.Peak.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
